

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

  <title>KANGAROO HOME</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free//css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <style>

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
  /* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #deb887 ; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

  .swing {
    perspective: 100px;
  }

  .slide-fade li {
    transition: all 0.4s ease-out;
    opacity: 0;
  }
  .slide-fade li.show {
    opacity: 1;
  }
  .swing li {
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
  }

  .swing li.show {
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
  }
  
  #button_device_list {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

li{
  float: left;
}

#button_device_list span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button_device_list span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button_device_list:hover span {
  padding-right: 15px;
}

#button_device_list:hover span:after {
  opacity: 1;
  right: 0;
}

  .btn { 
    width:80px; 
    height:40px; 
    border:1px #3399dd solid; 
    margin:15px auto; 
    background-color:#66aaff; 
    text-align:center; 
    cursor: pointer; 
    color:#FFFFFF; 
    transition:all 0.9s, 
    color 0.3; 
    }

  .fa-beat {
    animation:fa-beat 5s ease infinite;
  }
  @keyframes fa-beat {
    0% {
      transform:scale(1);
    }
    5% {
      transform:scale(1.25);
    }
    20% {
      transform:scale(1);
    }
    30% {
      transform:scale(1);
    }
    35% {
      transform:scale(1.25);
    }
    50% {
      transform:scale(1);
    }
    55% {
      transform:scale(1.25);
    }
    70% {
      transform:scale(1);
    }
  }


  body {
    text-align:center;
    background:#111;
    color:#aaa;
    font:1em sans-serif;
  }


  .heart {
    color:red;
  }

  </style>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">KANGAROO<sup>HOME</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading" style = "font-size : 15pt ; color : gray">
        MENU
      </div>
      
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog" style = "color : gray"></i>
          <span style = "font-size : 10pt ; color : gray">AirQuality Data</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">AirQuality Data</h6>
            <a class="collapse-item" href="/qi/device/aq_data/historical">Historical Data</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench" style = "color : gray"></i>
          <span style = "font-size : 10pt ; color : gray">Heart Rate</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Heart Rate</h6>
            <a class="collapse-item" href="/qi/device/heart_rate/realtime">Heart Rate Realtime</a>
            <a class="collapse-item" href="/qi/device/heart_rate/historical">Heart Rate Historical</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
      

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>



          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

           

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id = "email">
                </span>
              </a>
              <!-- Dropdown - User Information -->
              <div id = "user_info_dropdown"  class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/qi/user/profile">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="/qi/user/mypage">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="qi/home" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
<div class="container-fluid">
  <p id = "lb_search_txt" style = "font-size : 25pt">What do you want to find?</p>
  <div class = "col" style = "text-align: center;">
    <div class = "row" style = "text-align: center;">
      <div class = "col-lg-6 mb-4" style = "flex : 0 0 30%">
        <p style = "color:#888888; font-size : 15pt; text-align:left">Datetime</p>
        <hr>

        <div>
        
          <input type = "text" id = "date_start" style = "font-size : 12pt ; text-align : center ; padding : 15px" onchange = "change_lb_aqi_data_text()" readonly> 
          ~
          <input type = "text" id = "date_end" style = "font-size : 12pt ; text-align : center ; padding : 15px" onchange = "change_lb_aqi_data_text()" readonly>
        </div>

      </div>

      <div  class = "col-lg-6 mb-4" style = "flex : 0 0 20%">

        <p style = "color:#888888; font-size : 15pt; text-align:left">AQI type</p>
        <hr>
            <select class="aq_data" style = "padding-left: 20px ; padding-right: 20px ; padding-top: 10px ; padding-bottom: 10px">
                <option >SELECT AQ TYPE</option>
                <option value="ALL">ALL</option>
                <option value="CO">CO</option>
                <option value="SO2">SO2</option>
                <option value="O3">O3</option>
                <option value="NO2">NO2</option>
                <option value="PM2.5">PM2.5</option>
                <option value="Temperature">Temperature</option>
            </select>

      </div>

      <div  class = "col-lg-6 mb-4" style = "flex : 0 0 50% ; overflow-x : scroll ">
        <p style = "color:#888888; font-size : 15pt; text-align:left">Device List</p>
        <hr> 

        <ul id="list" style = "list-style:none; padding-left:0px;">
        </ul>
      </div>

      

    </div>

  <div class="col">
    <div class = "row" style = "text-align: center;">

      <div class = "col-lg-6 mb-4" style = "flex : 0 0 50%">
        <div style ="display: inline-block; width:810px; height:480px; margin: auto; border-style: solid; padding:30px; margin : 10px;">
          <p style = "color:#888888; font-size : 15pt; text-align:left">Searched Sensor Location</p>
          <hr>

          <div id = "map" style = "width:100%; height:80%;"></div>
        </div>
      </div>

      <div class = "col-lg-6 mb-4" style = "flex : 0 0 50%">
        <div style ="display: inline-block; width:900px; height:480px; overflow-y:scroll;margin: auto; border-style: solid; padding:30px; margin : 10px;">
          <p style = "color:#888888; font-size : 15pt; text-align:left">Data Chart</p>
          <hr>

          <div id="chart_div_CO"></div>
          <div id="chart_div_SO2"></div>
          <div id="chart_div_O3"></div>
          <div id="chart_div_NO2"></div>
          <div id="chart_div_PM2_5"></div>
          <div id="chart_div_temperature"></div>
        
        </div>
      </div>

    </div>
  </div>

    


  </div>
  <div>
   <button id = "button_device_list" class = "aq_data_search" style = "background-color: #1e90ff ">Search!</button>
  </div>
  <hr>

</div>

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto" style = 'float:bottom'>
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <form id = 'sign_out_form'>
            <input type = "submit" class="btn btn-primary" value="Logout">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- ajax Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


  <script>
    $('#sign_out_form').submit(function( event ) {
      var posting = $.post( "/qi/user/sign-out/process", { usn: localStorage.getItem('usn') } );

      posting.done(function( data ) {

        localStorage.removeItem('email');
        localStorage.removeItem('usn');
        localStorage.removeItem('firstname');
        localStorage.removeItem('lastname');
        localStorage.removeItem('nickname');

        window.location.replace("/");

        alert('sign out process!');

      });
    });



      
  </script>



  <script>
    $(document).ready(function(){
      if(localStorage.getItem('usn') == null){
        alert("Please Sign-in first!!");
        window.location.replace("/");
      }
      
      var email = localStorage.getItem('email');
      var usn = localStorage.getItem('usn');
      chart_drawed = [];
      device_name_arr = [];
      s_array =[];
      print_aqi_type = "";

      if(usn == null){
        document.getElementById('email').innerHTML = "<Button class='btn btn-primary btn-user btn-block' onclick = 'sign_in_btn_click()'>SIGN IN</Button>";
        $("#userDropdown").prop("disabled", true);
      }else{
        $("#userDropdown").prop("enable", true);
        document.getElementById('email').innerHTML = email;
      }
      $( "#date_start" ).datepicker({
        dateFormat: 'yy-mm-dd'
      });

      $( "#date_end" ).datepicker({
        dateFormat: 'yy-mm-dd'
      });

      var posting = $.post("/qi/device/list_view", {usn:localStorage.getItem("usn")});
      posting.done(function(data){
        $.each(data, function(index, item){
          if($.isNumeric(index)){
            var list = document.getElementById('list');
            var newLI = document.createElement('li');
            newLI.setAttribute("class", "show")
            newLI.innerHTML = "<button  id = 'button_device_list' class = 'btn_device_list' value = " + item['ssn'] +"><span>" + item['device_name'] + "</span></button>";
            
            device_name_arr[item['ssn']] = item['device_name'];

            list.appendChild(newLI);
          }
        });
      });
      
      
    });

      //Show Google Map When Start
    $( window ).load(function() {
      user_lat = 0;
      user_lng = 0;

      $( ".btn_device_list" ).click(function(event){
          localStorage.setItem("clicked_ssn", $(this).val());
          $("#lb_search_txt").html( "I want to find " + print_aqi_type + " data between " + $("#date_start").val() + " ~ " + $('#date_end').val() + 
                                    " from " + device_name_arr[localStorage.getItem('clicked_ssn')] );
      });
     google.load("visualization", "1", {packages:["corechart"]});


    function drawChart(clicked_ssn) {
        var posting = $.post( "/qi/device/aq_data/historical/chartdata/process",
        {date_start : $("#date_start").val(), date_end : $('#date_end').val(), usn : localStorage.getItem('usn'), ssn : clicked_ssn});
        
        posting.done(function(data){
          // parse the json data
            var oobj = data['chart'];

            var title_array = {
              "CO" : "CO Chart (ppb) ",
              "SO2" : "SO2 Chart (SO2) ",
              "O3" : "O3 Chart (O3)",
              "NO2" : "NO2 Chart (NO2)",
              "PM2_5" : "PM2.5 Chart (pm25)",
              "temperature" : "Temperature Chart(C)"
              };

            for(i = 0 ; i < chart_drawed.length ; i ++){
              chart_drawed[i].remove();
            }
            chart_drawed = [];

            for (i=0; i<s_array.length; i++) {
                // want to grab set of data for single sensor
                var newData = JSON.stringify(oobj[s_array[i]][0]);

                // Create our data table out of reduced json
                var chart_draw_data = new google.visualization.DataTable(newData);

                var options = {
                    width: 800, height: 480,
                    title: title_array[s_array[i]],
                    hAxis: {
                        title: 'Sources', 
                        slantedText: true
                    }
                };

                
                var chart = new google.visualization.LineChart(document.getElementById('chart_div_' + s_array[i]));
                chart_drawed[i] = 'chart_div_' + s_array[i];
                chart.draw(chart_draw_data, options);
            }

            
        });
      }
          
      $(".aq_data_search").click(function(event){
        drawChart(localStorage.getItem('clicked_ssn'));
        setPin();
      });

      $(".aq_data").change(function(){
        switch(this.value){
          case "ALL":
          s_array = ["CO", "SO2", "O3", "NO2", "PM2_5", "temperature"];
          print_aqi_type = "ALL"; 
          break;

          case "CO":
          s_array = ["CO"];
          print_aqi_type = "CO"; 
          break;

          case "SO2":
          s_array = ["SO2"];
          print_aqi_type = "SO2"; 
          break;

          case "O3":
          s_array = ["O3"];
          print_aqi_type = "O3"; 
          break;

          case "NO2":
          s_array = ["NO2"];
          print_aqi_type = "NO2"; 
          break;

          case "PM2.5":
          s_array = ["PM2_5"];
          print_aqi_type = "PM2.5"; 
          break;

          case "temperature":
          s_array = ["temperature"];
          print_aqi_type = "temperature"; 
          break;

          default:
          break;
        }
        $("#lb_search_txt").html( "I want to find " + print_aqi_type + " data between " + $("#date_start").val() + " ~ " + $('#date_end').val() + 
                                    " from " + device_name_arr[localStorage.getItem('clicked_ssn')] );
      });


    });//end window.load

    function sign_in_btn_click(){
      window.location.href = "/qi/sign-in";
    }

    function change_lb_aqi_data_text(){
      $("#lb_search_txt").html( "I want to find " + print_aqi_type + " data between " + $("#date_start").val() + " ~ " + $('#date_end').val() + 
                                    " from " + device_name_arr[localStorage.getItem('clicked_ssn')] );
    }

  </script>
    

    {# Google Map API #}
    <script>

      function loadMap() {  
          // Initialize Google Maps
          var mapOptions = {
            center:new google.maps.LatLng(0, 0),
            zoom: 11
          }
          map_setting = new google.maps.Map(document.getElementById("map"), mapOptions);
          gmarker = [];
          gcircle = [];
      }

        //get array AirQuality data
        function setPin(){
          var posting = $.post("/qi/device/aq_data/historical/process", 
                                {"date_start" : $("#date_start").val(), "date_end" : $("#date_end").val(), 
                                "usn" : localStorage.getItem("usn") , "ssn" : localStorage.getItem('clicked_ssn')});

          posting.done(function(data){
            for(var i = 0 ; i < gmarker.length ; i ++){
              if(gmarker[i].getMap() != null)
                gmarker[i].setMap(null);
              
            }

            for(var i = 0 ; i < gcircle.length ; i++){
              if(gcircle[i].getMap() != null)
                gcircle[i].setMap(null);
            }

            var image = {
                  url:  '/img/kangaroo_pin.png',
                  scaledSize: new google.maps.Size(50, 50) // scaled size
            };

            $.each(data, function(index, item){
                  var marker = new google.maps.Marker({
                    map: map_setting,
                    position: new google.maps.LatLng(item['latitude'], item['longitude']),
                    title: localStorage.getItem('nickname'),
                    icon: image
                  });

                  map_setting.setCenter(marker.getPosition());  
                  var infowindow = new google.maps.InfoWindow();

                  gmarker.push(marker);
                  marker.addListener('click', function() {
                    var contents = "<div><b>Sensor Name : " + item['device_name'] + "</b><hr><b>Mesure Datetime : "+ item['datetime'] +"</b></div>";
                    
                    infowindow.setContent(contents);
                    infowindow.open(map, this);
                  });

            });
            

    
                  

          });//end done
            
        }//end setPin()
    
    </script>

  <!--Google Map API-->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgrRKZjmZGHOCm2Ohq0PqnVoAJVR2u7Zg&callback=loadMap&language=en&region=US">
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>
  <script src="/js/maplabel-compiled.js"></script>
  <script src="/js/maplabel.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>

</html>
