

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>KANGAROO HOME</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free//css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="/assets/styles.css" rel="stylesheet" />


  <style>
  #chart {
    max-width: 650px;
    margin: 35px auto;
  }

  .btn { 
    width:80px; 
    height:40px; 
    border:1px #3399dd solid; 
    margin:15px auto; 
    background-color:#66aaff; 
    text-align:center; 
    cursor: pointer; 
    color:#FFFFFF; 
    transition:all 0.9s, 
    color 0.3; 
    }

  .fa-beat {
    animation:fa-beat 5s ease infinite;
  }
  @keyframes fa-beat {
    0% {
      transform:scale(1);
    }
    5% {
      transform:scale(1.25);
    }
    20% {
      transform:scale(1);
    }
    30% {
      transform:scale(1);
    }
    35% {
      transform:scale(1.25);
    }
    50% {
      transform:scale(1);
    }
    55% {
      transform:scale(1.25);
    }
    70% {
      transform:scale(1);
    }
  }


  body {
    text-align:center;
    background:#111;
    color:#aaa;
    font:1em sans-serif;
  }


  .heart {
    color:red;
  }

  </style>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">KANGAROO<sup>HOME</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>MENU</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        MENU
      </div>
      
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>AirQuality Data</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">AirQuality Data</h6>
            <a class="collapse-item" href="buttons.html">Historical Data</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Utilities</span>a
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="utilities-color.html">Colors</a>
            <a class="collapse-item" href="utilities-border.html">Borders</a>
            <a class="collapse-item" href="utilities-animation.html">Animations</a>
            <a class="collapse-item" href="utilities-other.html">Other</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Addons
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Login Screens:</h6>
            <a class="collapse-item" href="login.html">Login</a>
            <a class="collapse-item" href="register.html">Register</a>
            <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Other Pages:</h6>
            <a class="collapse-item" href="404.html">404 Page</a>
            <a class="collapse-item" href="blank.html">Blank Page</a>
          </div>
        </div>
      </li>

    
      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>



          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

           

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id = "email">
                </span>
              </a>
              <!-- Dropdown - User Information -->
              <div id = "user_info_dropdown"  class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/qi/user/profile">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="/qi/user/mypage">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="qi/home" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        {# 
        =========================
        =========================
        =========================
        =========================
        =========================
        ==========Chart==========
        =========================
        =========================
        =========================
        =========================
        =========================
        =========================
         #}
<div class="container-fluid">

    <div>
      <p style="font-weight:bold ; font-size:20pt; ">Heart Rate Realtime</p>

      <div>
        <p  style="font-weight:bold ; font-size:32pt">
          <a id = "heart_rate_date"></a>
        </p>
        <p class="heart" style="font-weight:bold ; font-size:32pt ">
          <i class="fa fa-heart fa-4x fa-beat"></i> <!-- heartrate animation -->
          <a id = "heart_rate_ratio"></a>
        </p>
      </div>

      <div id="app"></div>

      <div id="html">
              &lt;div id=&quot;chart&quot;&gt;&#10;          &lt;ReactApexChart options={this.state.options} series={this.state.series} type=&quot;line&quot; height=&quot;350&quot; /&gt;&#10;        &lt;/div&gt;
      </div>


    </div>
</hr>
  <div style = "text-align: center;">

    <div style ="display: inline-block; width:810px; height:480px; margin: auto;">
      <div id="chart_div_realtime_heart"></div>
    </div>

    <div style = "width:640px; height:100px; text-align: center;margin: auto;">

      <div style = 'margin: auto'>
        <input type = "text" id = "date_start" onchange = "display_period_start()"> ~
        <input type = "text" id = "date_end" onchange = "display_period_end()">
        <button id = "aq_data_search" class = "btn btn-primary btn-user btn-block">Search!</button>
      </div>
      
    </div>

  </div>



</div>

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto" style = 'float:bottom'>
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <form id = 'sign_out_form'>
            <input type = "submit" class="btn btn-primary" value="Logout">
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script>
    $('#sign_out_form').submit(function( event ) {
      var posting = $.post( "/qi/user/sign-out/process", { usn: 19 } );

      posting.done(function( data ) {

        localStorage.removeItem('email');
        localStorage.removeItem('usn');
        localStorage.removeItem('firstname');
        localStorage.removeItem('lastname');
        localStorage.removeItem('nickname');
        

        window.location.replace("/");

        alert('sign out process!');

      });
    });

   
  </script>



  <script>
    $(document).ready(function(){
      var email = localStorage.getItem('email');
      var usn = localStorage.getItem('usn');

      if(usn == null){
        document.getElementById('email').innerHTML = "<Button class='btn btn-primary btn-user btn-block' onclick = 'sign_in_btn_click()'>SIGN IN</Button>";
        $("#userDropdown").prop("disabled", true);
      }else{
        $("#userDropdown").prop("enable", true);
        document.getElementById('email').innerHTML = email;
      }
      $( "#date_start" ).datepicker({
        dateFormat: 'yy-mm-dd'
      });

      $( "#date_end" ).datepicker({
        dateFormat: 'yy-mm-dd'
      });
    });

      //Show Google Map When Start
    $( window ).load(function() {
          setInterval(function() {
          // Do something every 2 seconds
            var posting = $.post("/qi/device/heart_rate/realtime/process", {usn : 19});

            posting.done(function(data){
              if(data.result_code == 1){
                $("#heart_rate_date").html(data.datetime);
                $("#heart_rate_ratio").html(data.heart_rate);
              }
            });
          }, 1000);
    });//end window.load

    function sign_in_btn_click(){
      window.location.href = "/qi/sign-in";
    }
  </script>


  {# Real time heart rate Chart #}
  <script type="text/babel">

    var lastDate = 0;
    var data = []
    var TICKINTERVAL = 1000 // 단위 ms
    {# var TICKINTERVAL = 1000 #}
    let XAXISRANGE = 9000 
    {# let XAXISRANGE = 9000 #}

    {# function getDayWiseTimeSeries(baseval, count, yrange) {
        var i = 0;
        while (i < count) {
            var x = baseval;
            var y = Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;

            data.push({
                x, y
            });
            lastDate = baseval
            baseval += TICKINTERVAL;
            i++;
        }
    }

    getDayWiseTimeSeries(new Date('11 Feb 2017 GMT').getTime(), 10, {
        min: 10,
        max: 1000
    }) #}

    function getNewSeries(baseval, heart_rate) {
        var newDate = baseval + TICKINTERVAL;
        lastDate = newDate

        for(var i = 0; i< data.length - 10; i++) {
            // IMPORTANT
            // we reset the x and y of the data which is out of drawing area
            // to prevent memory leaks
            data[i].x = newDate - XAXISRANGE - TICKINTERVAL
            data[i].y = 0
        }
        
        data.push({
            x: newDate,
            y: heart_rate
        })
        
    }

    function resetData(){
        // Alternatively, you can also reset the data at certain intervals to prevent creating a huge series 
        data = data.slice(data.length - 10, data.length);
    }

    class LineChart extends React.Component {
    
    constructor(props) {
      super(props);

      this.state = {
        options: {
          chart: {
              id: 'realtime',
              animations: {
                enabled: true,
                easing: 'linear',
                dynamicAnimation: {
                  speed: 1000
                }
              },
              toolbar: {
                show: false
              },
              zoom: {
                enabled: false
              }
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              curve: 'smooth'
            },

            title: {
              text: 'Realtime Heart Rate',
              align: 'left'
            },
            markers: {
              size: 0
            },
            xaxis: {
              type: 'datetime',
              range: XAXISRANGE
            },
            yaxis: {
              max: 150,
              min: 70
            },
            legend: {
              show: false
            }
        },
        series: [{
          data: data.slice()
        }],
      }
    }
    
    componentDidMount() {
      this.intervals()
    }

    intervals () {
      window.setInterval(() => {
        
        var posting = $.post( "/qi/device/heart_rate/realtime/process", { usn: 19 } );
        
        posting.done(function(heart_data){
          getNewSeries(new Date().getTime(), heart_data.heart_rate)

          ApexCharts.exec('realtime', 'updateSeries', [{
            data: data
          }])

        });//end done
        
        
      }, 1000) // end setInterval()
    }

    render() {

      return (
        <div>
          <div id="chart">
            <ReactApexChart options={this.state.options} series={this.state.series} type="line" height="350" />
          </div>
          <div id="html-dist">
          </div>
        </div>
      );
    }

  }

  const domContainer = document.querySelector('#app');
  ReactDOM.render(React.createElement(LineChart), domContainer);

  </script>


  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>
  <script src="/js/maplabel-compiled.js"></script>
  <script src="/js/maplabel.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/prop-types@15.6.2/prop-types.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>
<script src="https://unpkg.com/react-apexcharts@1.1.0/dist/react-apexcharts.iife.min.js"></script>

</body>

</html>
